.text-center {
	text-align: center;
}
.calculator {
	background-color: #f0f0f0;
	padding-top: 5px;
	padding-bottom:  5px;
}
#screen {
	text-align: right;
	background-color: #fefefe;
	margin-top: 3%;
	margin-bottom: 3%;

}
.calc-btn {
	margin-top:3%;
}
.last-btn-row {
	margin-bottom: 10%;
}

